.col_iterm{
    width: 55%;
    float: left;
}
.order_group {
    width: 40%;
    float: left;
    margin: 18px 28px;
    /* height: 300px; */
    /* background-color: gray; */
    /* overflow: auto; */
}
.table-striped{
    width: 100%;
    /* float: left; */
    /* margin: 0px 0px; */
    height: 200px;
    background-color: rgb(243, 234, 234);
    overflow: auto;
}
.item{
   width: 50%;
   height: 500px;
   padding:0px;
    /* background-color: rgb(187, 230, 187);  */
    /* width: 100%;  */
    margin-top: 50px; 
    position: absolute;
    float: left;
    overflow: auto;
}
 .item_type{
    float: left;
    padding: 10px;
    margin: 5px;
    height: auto;
    max-height: 50%;
    width: 30%;
    border-radius: 10px;
    font-weight:bold;
    /* text-align: center; */
    border: 2px solid rgb(136, 136, 136);
    background-color:rgb(212, 212, 212);
}
.item_type:hover{
    background: rgb(223, 190, 190) !important;
}
.item_type h5 {
    margin-top: 0;
    margin-bottom: 0rem;
    color: rgb(117, 93, 93);
    padding: 2px;
}
.total_amont{
    background-color: sandybrown;
    height: 100px;
}
.input-group label{
    color: green;
}

